
.hide
  display none
  visibility hidden

body
  padding-top 60px
  width 97%
  margin 0 auto

.glyphicon
  margin-right 2px

.navbar-nav > li > a:hover
  text-decoration none

.add-line
  margin-left 20px
  margin-right 5px
.add-line > li > a
  padding-left 10px
  padding-right 10px

#lines > div
  margin 5px 0

.form-control[readonly]
  cursor text

.modal-footer
  margin-top 0

.select2-container
  width 100%
.select2-container-multi .select2-choices .select2-search-choice
  background none
  border 1px solid #fff
  box-shadow none
.select2-search-choice div
  line-height 20px
  height 20px
.select2-search-choice a
  top 7px
.has-switch.switch-large
  width 160px
  margin-top 10px
